<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="HostingWorkflowRuntime" type="System.Workflow.Runtime.Configuration.WorkflowRuntimeSection, System.Workflow.Runtime, Version=3.0.00000.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
  </configSections>
  <HostingWorkflowRuntime Name="Hosting">
    <CommonParameters>
      <add name="ConnectionString" value="Initial Catalog=WorkflowTrackingStore;Data Source=localhost\SQLExpress;Integrated Security=SSPI;"/>
    </CommonParameters>
    <Services>
      <!--<add type="System.Workflow.Runtime.Hosting.DefaultWorkflowSchedulerService, System.Workflow.Runtime, Version=3.0.00000.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
           maxSimultaneousWorkflows="1"/>-->
      <add type="System.Workflow.Runtime.Hosting.SqlWorkflowPersistenceService, System.Workflow.Runtime, Version=3.0.00000.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
           LoadIntervalSeconds="5"/>
      <add type="System.Workflow.Runtime.Tracking.SqlTrackingService, System.Workflow.Runtime, Version=3.0.00000.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />

      <!--运行时使用的 WorkflowCommitWorkBatchService 服务的共享持久和跟踪连接。
          WF为同时使用了SQL持久化和SQL跟踪服务的应用程序提供的优化方案。
          http://www.cnblogs.com/xiaoshatian/archive/2008/09/12/1289542.html
          -->
      <add type="System.Workflow.Runtime.Hosting.SharedConnectionWorkflowCommitWorkBatchService, System.Workflow.Runtime, Version=3.0.00000.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </Services>
  </HostingWorkflowRuntime>
</configuration>